.popup-section {
	border-bottom: 8px solid $color-black;

	&.no-bottom-border { border-bottom: 0; }

	.container {
		padding-top: 80px;
		padding-bottom: 80px;

		@include responsive(mobile) {
			padding-top: $gap;
			padding-bottom: $gap;
		}
	}

	img {
		width: 100%;
		border-radius: 5px;
	}
}

.title-banner {
	padding-top: 50px;
	padding-bottom: 50px;

	h1 {
		text-align: center;
		margin-bottom: 100px;

		@include responsive(mobile) {
			margin-bottom: 50px;
		}
	}

	a { margin-left: 0; }

	.vert-center {
		margin: auto;
	}

	.row-flex {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;
}
