/* Headings - h1, h2, h3, h4, h5, h6 & other (if any)
========================================================================== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-style: normal;
	margin-bottom: 1rem;
	margin-top: 1rem;
	letter-spacing: 0.05rem;
	font-family: $muller;
}
h1, .h1 {
	font-size: 72px;
	line-height: 1.2em;
	font-size: clamp(72px, 11vw, 150px);

	font-weight:900;
	text-transform: none;
	word-break: break-word;
	hyphens: auto;

	&.alt {
		@include font-size(72);
		@include line-height(80);
		font-weight: 200;
	}
}
h2, .h2 {
	@include font-size(50);
	@include line-height(58);
	font-weight: 600;
}
h3, .h3 { 
	@include font-size(32);
	@include line-height(40);
	font-weight: 400;

	&.alt {
		font-weight: 900;
	}
}
h4, .h4 {
	@include font-size(26);
	@include line-height(34);
	font-weight: 400;
}
h5, .h5 {
	@include font-size(22);
	@include line-height(30);
	font-weight: 400;
}
h6, .h6 {
	@include font-size(22);
	@include line-height(30);
	font-weight: 700;
}

/* ==========================================================================
/* Typography
========================================================================== */

b, strong { font-weight: 700; }
i, em, .em { font-style: italic; }

a {
	color: $color-green--dark; 
	cursor: pointer;
	outline: 0; 
	text-decoration: none; 
	font-weight: 900;
	@include color();
}

a:hover {
	outline: 0; 
	color: $color-purple--dark;
}

a:active { outline: 0; } 
a:focus { @include focus; }


p { 
	@include font-size(16);;
	@include line-height(24);
	margin: 1rem 0 1rem 0;
	letter-spacing: 0.02rem; 
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
	+ p { margin-top: -0.33rem; }
}

p.lead {
	@include font-size(24);
	@include line-height(30);
	font-family: $muller;
}


*:focus {
	@include outline();
	@include boxshadow();
}

.text-tag {
	color: $color-gray-100;
	font-weight: 400;
	letter-spacing: 0.1rem;
	@include font-size(22);
	@include line-height(30);
	margin: 0;

	&--white {
		color: #ddd;
	}
}

.m-0 { margin: 0; }


figcaption {
	@include font-size(12);
	@include line-height(20);
}